<div class="page-container">

    <!-- PAGE HEADER -->

    <div class="page-header">

        <div>
            <h2>Notifications</h2>
            <p>
                Stay updated with recent system activities.
            </p>
        </div>

        <button
            class="mark-btn"
            (click)="markAll()">

            <i class="fas fa-check-double"></i>

             Mark All as Read

        </button>

    </div>

    <!-- SUMMARY -->

    <div class="summary-grid">

        <div class="summary-card">

            <i class="fas fa-bell"></i>

            <div>
                <h3>{{summary.total}}</h3>
                <span>Total Notifications</span>
            </div>

        </div>

        <div class="summary-card">

            <i class="fas fa-envelope"></i>

            <div>
                <h3>{{summary.unread}}</h3>
                <span>Unread</span>
            </div>

        </div>

        <div class="summary-card">

            <i class="fas fa-exclamation-circle"></i>

            <div>
                <h3>{{summary.alerts}}</h3>
                <span>Alerts</span>
            </div>

        </div>

    </div>

    <!-- NOTIFICATIONS LIST -->

    <div class="notifications-wrapper">

        <div class="notification-card"

            *ngFor="let notification of notifications"

            [class.unread]="!notification.read"

            (click)="markRead(notification)">

            <div class="notification-icon">

                <i
class="fas fa-file-alt"
*ngIf="notification.type=='LICENSE'">
</i>

<i
class="fas fa-credit-card"
*ngIf="notification.type=='PAYMENT'">
</i>

<i
class="fas fa-exclamation-circle"
*ngIf="notification.type=='COMPLAINT'">
</i>

<i
class="fas fa-triangle-exclamation"
*ngIf="notification.type=='ALERT'">
</i>

<i
class="fas fa-user"
*ngIf="notification.type=='USER'">
</i>

            </div>

            <div class="notification-content">

                <div class="top-row">

                    <h4>{{notification.title}}</h4>

                    <span>{{notification.createdAt | date:'dd MMM yyyy HH:mm'}}</span>

                </div>

                <p>{{notification.message}}</p>

                <div class="notification-actions">

<button

class="delete-btn"

(click)="delete(notification);
$event.stopPropagation()">

<i class="fas fa-trash"></i>

</button>

</div>

            </div>

        </div>

    </div>

</div>