<div class="licenses-page">

    <!-- HEADER -->

    <div class="page-header">

        <div>
            <h2>My Licenses</h2>
            <p>
                View and manage all your business licenses.
            </p>
        </div>

        <button class="apply-btn" 
        routerLink="/owner/apply-license">

            <i class="fas fa-plus"></i>

            Apply New License

        </button>

    </div>


    <!-- FILTERS -->

    <div class="filter-card">

        <div class="search-box">

            <i class="fas fa-search"></i>

            <input

               type="text"

               [(ngModel)]="search"

              (input)="filterLicenses()"

               placeholder="Search license...">

        </div>

        <select

           [(ngModel)]="status"

           (change)="filterLicenses()">

            <option value="ALL">

               All Status

            </option>

            <option value="APPROVED">

               Approved

            </option>

            <option value="PENDING">

                Pending

            </option>

            <option value="REJECTED">

                Rejected

            </option>

        </select>

    </div>


    <!-- LICENSE CARDS -->

    <div class="licenses-grid">

        <div class="license-card"
             *ngFor="let license of filteredLicenses">

            <div class="card-top">

                <div class="license-icon">
                    <i class="fas fa-file-signature"></i>
                </div>

                <span class="status"
                      [ngClass]="{

                      'active':license.status==='APPROVED',

                      'pending':license.status==='PENDING',

                       'expired':license.status==='REJECTED'

                    }">

                    {{license.status}}

                </span>

            </div>

            <h3>{{license.licenseType}}</h3>

            <p class="business">
                {{license.businessName}}
            </p>

            <div class="license-info">

                <div>
                    <small>Issued Date</small>
                    <strong>{{license.issueDate | date:'dd MMM yyyy'}}</strong>
                </div>

                <div>
                    <small>Expiry Date</small>
                    <strong>{{license.expiryDate | date:'dd MMM yyyy'}}</strong>
                </div>

            </div>

            <div class="actions">

                <button class="view-btn"
                        (click)="openView(license)">

                    <i class="fas fa-eye"></i>
                    View

                </button>

                <button class="download-btn">

                    <i class="fas fa-download"></i>
                    Download

                </button>

                <button class="renew-btn">

                    <i class="fas fa-sync"></i>
                    Renew

                </button>

            </div>

        </div>

    </div>

</div>


<!-- VIEW MODAL -->

<div class="modal-overlay"
     *ngIf="showViewModal">

    <div class="modal">

        <div class="modal-header">

            <h3>License Details</h3>

            <button (click)="closeModal()">
                <i class="fas fa-times"></i>
            </button>

        </div>

        <div class="details">

            <p><strong>License ID:</strong>
                {{selectedLicense?.licenseNumber}}
            </p>

            <p><strong>License Type:</strong>
                {{selectedLicense?.licenseType}}
            </p>

            <p><strong>Business:</strong>
                {{selectedLicense?.businessName}}
            </p>

            <p><strong>Issued Date:</strong>
                {{selectedLicense?.issueDate | date:'dd MMM yyyy'}}
            </p>

            <p><strong>Expiry Date:</strong>
                {{selectedLicense?.expiryDate | date:'dd MMM yyyy'}}
            </p>

            <p><strong>Status:</strong>
                {{selectedLicense?.status}}
            </p>

        </div>

    </div>

</div>